.container {
  border-radius: 5px;
  background: #CCCCCC;
  padding: 2px;
  display: flex;
  flex-direction: row;
  width: max-content;
  font-family: sans-serif;
  font-size: 20pt;
}

.stat {
  padding: 2px;
  border-radius: 5px;
  }

.top {
  border-radius: 5px 5px 0px 0px;
  background: #0000CC;
  padding: 4px;
  color: #CCCCCC;
}

.bottom {
  border-radius: 0px 0px 5px 5px;
  background: #BBBBBB;
  padding: 4px;
}
